extensions:
	asset: SixtyEightPublishers\Asset\DI\AssetExtension

asset:
	packages:
		test_package:
			version: 1.0
			version_strategy: SixtyEightPublishers\Asset\Tests\Fixtures\CustomVersionStrategy('123')
