extensions:
	asset: SixtyEightPublishers\Asset\DI\AssetExtension

asset:
	version: SomeVersionScheme
	version_format: '%%s?version=%%s'
	base_urls:
		- https://cdn.example.com
	packages:
		images_path:
			base_path: '/foo'
		images:
			version: 1.0.0
			base_urls:
				- https://images1.example.com
				- https://images2.example.com
		foo:
			version: 1.0.0
			version_format: '%%s-%%s'
		bar:
			base_urls:
				- https://bar2.example.com
		bar_version_strategy:
			base_urls:
				- https://bar_version_strategy.example.com
			version_strategy: SixtyEightPublishers\Asset\Tests\Fixtures\CustomVersionStrategy('-FOO')
		json_manifest_strategy:
			json_manifest_path: %cwd%/manifest.json
		json_manifest_strategy_strict:
			json_manifest_path: %cwd%/manifest.json
			strict_mode: yes
