extensions:
	asset: SixtyEightPublishers\Asset\Bridge\Nette\DI\AssetExtension

services:
	myStrategy: SixtyEightPublishers\Asset\Tests\Fixtures\CustomVersionStrategy('-FOO')

asset:
	version_strategy: @myStrategy
	base_urls: https://cdn.example.com
